.clients {
  padding-top: 73px;
  padding-bottom: 82px;
  margin-bottom: 106px;
  background-image: url('./../img/clients-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 14, 14, 0.39);
    z-index: -1;
  }
}

.clients__text {
  margin-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description--clients {
  color: #fff;
  position: relative;
  padding-right: 65px;

  &::before {
    background-color: #fff;
  }

  &::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
  }
}

.title--clients {
  color: #fff;
}

.clients__list {
  display: flex;
  column-gap: 30px;
}
.clients__item {
  display: block;
  padding: 0 17px 30px;
  width: 255px;
  background-color: #fff;
  transform: translateY(0);
}

.clients__item:hover {
  transform: translateY(-75px);
}

.clients__wrapper-up {
  text-align: center;
}

.clients__img {
  margin-bottom: 16px;
  width: 111px;
  height: 111px;
  position: relative;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -35px;
  object-fit: contain;
  background-color: #D9D9D9;
    

}

.clients__name {
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 1.42;
  color: #1B1A1A;
}

.clients__description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: #999999;
}

.clients__reiting {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.reiting {
  font-size: 14px;
  color: #000;
  line-height: 1.71;
}

.clients__wrapper-down {
  border-top: 1px solid #E0E0E0;
  text-align: center;
  
  & p {
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 300;
    color: #999999;
  }
}
