.utp {
  margin-top: 106px;
}

.utp__item {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px;
  background-color: #1C1B1B;
}

.utp__item-row {
  display: flex;
  border-left: 1px solid #fff;;

  img {
    margin-right: 14px;
    margin-left: 20px;
  }
}

.utp__item-row:first-child {
  border-left: none;
  
  img {
    margin-left: 0px;
  }
}

.utp-title {
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
}

.utp-text {
  font-size: 15px;
  line-height: 1.87;
  color: #fff;
}